/doc/
!/doc/BUGS.txt

/include/
/lib/
/build/

/bin/win32/*.iobj
/bin/win32/*.ipdb
/bin/win32/*.pdb

/bin/x86_64/*.iobj
/bin/x86_64/*.ipdb
/bin/x86_64/*.pdb

*.log

/build/win32/tlog/*
/build/x86_64/tlog/*

/vs/Debug/*
/vs/x64/*